body, html {
    height: 100%;
}

body {
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.ds--app {
    z-index: 1;
    display: flex;
    position: relative;
    flex-grow: 1;
    min-height: 100%;
}

.ds--layout_private {
    width: 100%;
    display: flex;
    min-width: 0;
    flex-direction: column;
}

.ds--layout_public {
    width: 100%;
    display: flex;
    min-width: 0;
    flex-direction: column;
    .ds--main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.ds--main {
    flex: 1;
    padding-top: 60px;
}

.ds--header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 1.5rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    background: #ffffff;
    .ds--header__left {
        flex: 1;
    }
}

.ds--showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;
    background: #24282f;
    padding: 4.5rem 0px;
}

.ds--character__card {
    width: 600px;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    .ds--character__card-imageWrapper {
        flex: 2 1 0%;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            margin: 0px;
            opacity: 1;
            transition: opacity 0.5s ease 0s;
            object-position: center center;
            object-fit: cover;
        }
    }
    .ds--character__card-contentWrapper {
        flex: 3 1 0%;
        position: relative;
        padding: 0.75rem;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }
    .ds--character__card-header {
        margin-bottom: 0.75rem;
    }
    .ds--character__card-title {
        font-size: 1.5rem;
        color: #ffffff;
        font-weight: 800;
    }
}

.ds--form__sign-in {
    width: 320px;
}
